@font-face {
  font-family: 'Dead Wood Rustic';
  src: url('/fonts/Rustic-dyJl.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* ✅ Added */
}

/* Optional: create a class */
.deadwood-font {
  font-family: 'Dead Wood Rustic', sans-serif;
}

.flip-container {
  perspective: 1000px;
}

html {
  scroll-behavior: smooth;
}
